body {
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 10pt;
  background-color: #ffffff;
}

.page { display: none; max-width: 50em; position: relative;}
.page.current { display: block; }

h1 { font-size: 120%; width; color: #451515; background-color: #B38F8F; margin: 0 0 0.5em 0; padding: 0 0 0 0.8em;}
div.content { padding: 0 0 0 1em; }

.menu { 
    display: block;
    position: absolute;
    top: 0.2em; right: 0.8em;
    padding: 0; margin: 0;
    width: 17em;
}
.menu li { list-style-type: none; }
.menu a, .menu a:visited {
    width: 5em;
    border: 1px solid #000000;
    border-radius: 0.5em;
    font-size:0.8em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: #451515;
    color: #FFFFFF;
    float: right;
    margin: 0 0.2em;
}
.menu .working {
    color: #222;
}
textaarea { display: block; width: 100%;}
#error { background-color: #FFFC9C; height: 2em; }